/**! ColResize 1.0.3
 * ©2017 Steven Masala
 */

.dt-colresizable {
    height: 0;
    width: 100%;
    position: relative;
    top: 20px;
}

.dt-colresizable .dt-colresizable-col {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    cursor: ew-resize;
}

.dt-colresizable .dt-colresizable-col:last-child {
    pointer-events: none;
    visibility: hidden;
}

table.dataTable {
    table-layout: fixed;
}

table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot td {
    overflow: hidden;
}

table.dataTable thead th,
table.dataTable tfoot td {
    padding-left: 0;
    padding-right: 0;
}