/**! ColResize 2.0.1
 * ©2017 Steven Masala
 */

.dt-colresizable-table-wrapper {
    overflow: auto;
    width: 100%;
}

.dt-colresizable {
    height: 0;
    width: 100%;
    position: relative;
    top: 0;
}

.dt-colresizable .dt-colresizable-col {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 5px;
    cursor: ew-resize;
}

table.dataTable {
    table-layout: fixed;
    margin: 0;
}

table.dataTable thead th,
table.dataTable tbody td,
table.dataTable tfoot td {
    overflow: hidden;
}

table.dataTable thead th,
table.dataTable tfoot td {
    padding-left: 0;
    padding-right: 0;
}